<ion-view view-title="Dashboard">
  <ion-content>
    <ion-list>
      

      
      <div ng-repeat="game in games" href="#/app/game_lobby/{{game.game_id}}" class="list card">
      
        <div class="item item-avatar">
           <img class="prof_pic" src={{game.img}}>
          <h2>{{game.opponent}}</h2>
          <p>Pending since {{createdOn}}</p>
        </div>
       
        
        <button class="button button-full button-calm" ng-click="playGame()">
          <i class="icon ion-happy-outline"></i><span> Play</span>
        </button>
   
      </div>
    </ion-list>
  </ion-content>
  
  <div class="bar bar-footer bar-balanced">
  <div class="title">New Game</div>
</div>
  
</ion-view>
