<ion-view view-title="Choose an Opponent">
  <ion-content>
    <ion-list>
      <div  ng-repeat="user in users" href="#/app/game_lobby/{{game.game_id}}" class="list card">
        <div class="row">
          <div class="col col-80">
            <div class="item item-avatar">
              <img class="big_prof_pic" src={{user.img}}>
              <div style="position:absolute; left: 50%;">
              <h2>{{user.name}}</h2>
              <h2>{{user.wins}} - {{user.losses}}</h2>
              </div>
            </div>
          </div>
        
          <div ng-controller="DashboardCtrl" class="col col-20">
            <center>
              <button class="button button-calm button-large button-new-game" ng-click="newGame(user)">
              <h4>Play</h4></button>
              </center>
          </div>          
        </div>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
