<ion-view view-title="Choose an Opponent">
  <ion-content>
    <ion-list>
      <div  ng-repeat="user in users" href="#/app/game_lobby/{{game.game_id}}" class="list card">
        <div class="row">
          <div class="col col-80">
            <div class="item item-avatar">
              <img class="prof_pic" src={{user.img}}>
              <h3>{{user.name}}</h3>
              <button class="button button-calm button-large button-new-game" ng-click="playGame()"><h4>Play</h4></button>
            </div>
          </div>
        
          <div class="col col-20">
            <center>
              <span>Win-Loss</span><br/>
              <button class="button button-energized button_score"><h4>{{user.wins}} - {{user.losses}}</h4></button>
            </center>
          </div>          
        </div>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
