<ion-view view-title="Profile">
  <ion-content>
    <div class="item item-avatar">
      <img class="prof_pic" src="img/hassaan.jpg">
      <h2>Hassaan Ali</h2>
    </div>

    <ul class="list">
      <li class="item">
        <div class="row">
          <div class="col">Score</div>
          <div class="col">253</div>
        </div>
      </li>
      <li class="item">
        <div class="row">
          <div class="col">Wins</div>
          <div class="col">24</div>
        </div>
      </li>      
      <li class="item">
        <div class="row">
          <div class="col">Losses</div>
          <div class="col">17</div>
        </div>
      </li>
    </ul> 
  </ion-content>
  
</ion-view>
