<ion-view view-title="Results">
 <ion-content>
	 <div class="row row-center">
	  <div class="col col-20">
		  <div id="wrapper" style="text-align: center">    
	    	<div id="yourdiv" style="display: inline-block;"><h1><i class="icon ion-star"></i></h1></div>
			</div>
	  </div>
	  <div class="col col-80">
	  	<div class="item item-avatar">
	      <img class="prof_pic" src="img/hassaan.jpg">
	      <h2>Hassaan Ali</h2>
	    </div>
	  </div>
	</div>
  <div class="item item-divider">
	  <center>Result breakdown</center>
  </div> 
    <!-- Results table -->
     <ul class="list">
	    <li class="item">
	      <div class="row">
					<div class="col"></div>
					<div class="col">Hassaan</div>
					<div class="col">Mike</div>
				</div>
			</li>
	    <li class="item">
				<div class="row">
					<div class="col">Hard</div>
					<div class="col loser">15</div>
					<div class="col winner">17</div>
				</div>
		    </li>
			<li class="item">
				<div class="row">
					<div class="col">Big</div>
					<div class="col winner">12</div>
					<div class="col loser">8</div>
				</div>
		    </li>
			<li class="item">
				<div class="row">
					<div class="col">Grow</div>
					<div class="col loser">8</div>
					<div class="col winner">9</div>
				</div>
		    </li>
			<li class="item">
				<div class="row">
					<div class="col">Shoe</div>
					<div class="col winner">13</div>
					<div class="col loser">10</div>
				</div>
		    </li>
			<li class="item">
				<div class="row">
					<div class="col">Confuse</div>
					<div class="col loser">4</div>
					<div class="col winner">10</div>
				</div>
		    </li>
				<hr>
			<li class="item">
				<div class="row">
					<div class="col">Total</div>
					<div class="col loser">52</div>
					<div class="col winner"><i class="icon ion-star"></i>54</div>
				</div>
		    </li>
		 </ul>	
 		<button class="button button-full button-calm">
        <center>Start a new game</center>
      </button>
  </ion-content>
  
</ion-view>
