/* Empty. Add your own CSS if you like */



.prof_pic {
	width: 6em;
	height: 6em;
}

input {
	text-align: center;
}

input.submission {
	font-size: 1.2em;
}

.col-50 {
	padding-top: 1em;
}

.guesses {
	color: grey;
}

.guesses_container {
	overflow: hidden;
	height: 12em;
}

.winner {
	color: green;
}
.loser {
	color: red;
}